<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor" >
       <ol>
        <h2>Pro del salón</h2>  
        
        <li v-for="alumno in palomilla">
            {{alumno.name}}
            {{alumno.role}}

        </li>
       </ol> 

       <fieldset>
            <label>
           edad
            </label>
            <input type="text" v-model="age"name="">
            
            <h1 v-if="age >=18">
                Pasele a pistear
            </h1>
            <h1 v-else>
                Fuga pa la casa
            </h1>
        </fieldset>

        

        <h1>
            {{name}}
        </h1>

        <p>
            {{lastname}}
        </p>

       
            <fieldset>
                    <legend>Datos personales </legend>
                        
                   
                    <input type="text" v-model="a_name" name="">
                    <input type="text" v-model="role" name="">
                   
                    <button @click="addPalomilla">
                       addPalomilla
                   </button>
            </fieldset>
        
        
        
            <fieldset>
                    <legend>Calculadora</legend>
                        
                   
                    <input type="text" v-model="numero1" name="">
                    <input type="text" v-model="numero2" name="">
                   
                    <button @click="suma">
                       Suma
                   </button>
                   <h1>
                    {{resultado}}
                   </h1>

            </fieldset>
        
    </div>

   
    <script src="https://unpkg.com/vue@3"></script>
        <script type="text/javascript">
        
        const { createApp } = Vue
       
        const app = createApp({
                     data(){
                        return{
                            name : '',
                            lastname: '',
                            resultado:0,
                            numero1:0,
                            numero2:0,
                            age:0,
                            palomilla:[
                                {name:'Suzett',role:'backend'},
                                {name:'Emmanuel',role:'frontend'},
                                {name:'Isac',role:'dba'},
                                {name:'Adrian',role:'dba'},
                                {name:'Dara',role:'movil'}
                            ]
                        }
                    },
                        methods:{
                            saludar(){
                                alert("hola:"+this.name+" "+this.lastname)
                                },
                                suma(){
                                    this.resultado=parseInt(this.numero2)+ parseInt(this.numero1)
                                },
                                addPalomilla(){
                                    this.palomilla.push({name:this.a_name,role:this.role});
                                    this.a_name=""
                                    this.role=""
                                }
                            }
                }).mount('#contenedor')
    </script>



</body>
</html>