<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
   
    <title>Ejercicios vue</title>
</head>
<body>
   
    <div id="contenedor">
       <span> Bienvenido: {{ nameV }}</span>
       
       <div v-show="formulario">

        <form action="" id="form">
            <fieldset>
                <legend>Registro de Usuario</legend>
                <label for="">
                    Nombre Completo:
                    <input type="text" v-model="nameForm" required>
                </label>
                <hr>
                <label for="">
                    Sobrenombre:
                    <input type="text" v-model="usernameForm" required>
                </label>
                <hr>
                <label for="">
                    Correo Electrónico:
                    <input type="email" v-model="emailForm" required>
                </label>
                <hr>
                <label for="">
                    Contraseña:
                    <input type="password" v-model="passwordForm" required>
                </label>
                <hr>
                <label for="">
                    Número Telefónico:
                    <input type="text" v-model="phoneForm" required>
                </label>
                <hr>
                <label for="">
                    Página web:
                    <input type="text" v-model="websiteForm" required>
                </label>
                <hr>
                <button @click="register" type="submit">Entrar</button>
            </fieldset>
        </form>

    </div>

    <div v-show="!formulario">
        <fieldset>
            <button @click="formulario=true">Añadir Usuario</button>
            
            <legend>Tabla de Usuarios </legend>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Sobrenombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Página</th>
                        <th>Accciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td>{{u.name}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phone}}</td>
                        <td>{{u.website}}</td>
                        <td>
                            <button>Modificar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </fieldset>
    </div>
    <button @click="closeRegister">Cerrar Sesión</button>
</div>

    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript">
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    formulario: false,
                    nameForm: '', 
                    usernameForm: '',
                    emailForm: '',
                    passwordForm: '',
                    phoneForm: '',
                    websiteForm: ''
                } 
            },
            methods: {
                register() {
                    this.formulario = false;

                    this.users.push({
                        name: this.nameForm,
                        username: this.usernameForm,
                        email: this.emailForm,
                        password: this.passwordForm,
                        phone: this.phoneForm,
                        website: this.websiteForm,
                    });

                    this.nameForm = '',
                        this.usernameForm = '',
                        this.emailForm = '',
                        this.passwordForm = '',
                        this.phoneForm = '',
                        this.websiteForm = ''
                },
                closeRegister() {
                    localStorage.removeItem('user');
                    window.location.href = "index.html";
                }
            },
            mounted() {
                var u = localStorage.getItem('user')
                var user = JSON.parse(u)

                this.nameV = user.name
                fetch('users.json')
                    .then((res) => res.json()) 
                    .then((json) => (this.users = json))
                    .catch((err) => (alert('no data')))
            }
        }).mount('#contenedor')
    </script>

     <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</body>

</html>